{% extends model('component') %}

{% define config = {
    name: 'header-navigation',
    tag: 'header-navigation'
} %}

{% define data = {
    properties: {
        component: '',
    }
} %}

{% block body %}
    <div class="box">
        <ff-header-navigation {{ data.properties.component|raw }}></ff-header-navigation>
    </div>
{% endblock %}
