{% extends model('component') %}

{% define config = {
    name: 'campaign',
    tag: 'campaign'
} %}

{% define data = {
    properties: {
        component: '',
        answer: '',
        question: '',
        feedbacktext: ''
    }
} %}

{% block body %}
    <div class="box">
        <ff-campaign-feedbacktext {{ data.properties.feedbacktext|raw }}>
            {% verbatim %}
                {{text}}
            {% endverbatim %}
        </ff-campaign-feedbacktext>
    </div>
{% endblock %}
