{% extends model('component') %}

{% define config = {
    name: 'breadcrumb',
    tag: 'breadcrumb'
} %}

{% define data = {
    properties: {
        component: '',
        items: []
    }
} %}

{% block body %}
    <div class="box">
        <span>You are searching for: </span>
        <ff-breadcrumb-trail {{ data.properties.component|raw }}>

            {% for item in data.properties.items %}
                <ff-breadcrumb-trail-item type="{{ item }}">
                    <span class="{{ item ~ '__item' }}">
                        {% verbatim %}
                            {{text}}
                        {% endverbatim %}
                    </span>
                </ff-breadcrumb-trail-item>
            {% endfor %}

        </ff-breadcrumb-trail>
    </div>
{% endblock %}
